.Single-card-drawer-area, .Toggle-card-drawer-area {
    flex: 1;
    flex-direction: column;
    margin: 10px;
}

.Card-area-one, .Card-area-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: overlap;
    margin: 1.25em 20%;
	padding: 1.25em;
    text-align: center;
    margin-top: 5rem;
    flex: 1;
}

.toggler, .card-drawer {
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 8px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
    background-color: #444;
} 

button:active,
button:focus {
  outline: none;
}

